<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=ride.driver.username) }}">
                <img src="{{ ride.driver.avatar(70) }}">
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=ride.driver.username) }}">
                        {{ ride.driver.username }}
                    </a>
                </span>
            {% endset %}
            {{user_link}} Created a ride {{ moment(ride.timestamp).fromNow() }}<br>
            From: <b>{{ ride.start }}</b> To <b>{{ ride.destination }}</b><br>
            Time: {{ride.time}}<br>
            Seats: {{ride.seats}}<br>
            Cost:USD {{ride.cost}}<br>
        </td>
        <td>
            {% if ride.driver.username != current_user %}
            <p><a href="{{ url_for('main.send_request', request_recipient=ride.driver.username) }}">Request Ride</a></p>
            {% endif %}
        </td>
    </tr>
</table>