<!--
<div>
    <table>
        <tr valign="top">
            <td><img src="{{ ride.driver.avatar(36) }}"></td>
            <td>
                <a href="{{ url_for('user', username=ride.driver.username) }}">
                    {{ ride.driver.username }}
                </a>
            </td>        
            <td><b>{{ ride.start }}</b></td>
            <td>To</td>
            <td><b>{{ ride.destination }}</b></td>
            <td>Time: {{ride.time}}</td>
            <td>Seats: {{ride.seats}}</td>
            <td>Cost:USD {{ride.cost}}</td>
        </tr>
    </table>
</div>
-->

<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=ride.driver.username) }}">
                <td><img src="{{ ride.driver.avatar(70) }}"></td>
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=ride.driver.username) }}">
                {{ ride.driver.username }}
            </a>
            Created a ride from:        
            <b>{{ ride.start }}</b>
            To
            <b>{{ ride.destination }}</b><br>
            Time: {{ride.time}}<br>
            Seats: {{ride.seats}}<br>
            Cost:USD {{ride.cost}}<br>
        </td>
    </tr>
</table>