<!DOCTYPE html>
<html>    
    <head>
        <meta charset="UTF-8">
        <title>My Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300, 300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="style.css">   
    </head>
    <body>
        <header>
            <a href=dashboard.html class="header-brand"> Ride My Way</a>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="available.html">Available Offers</a></li>
                    <li><a href="offer.html">Offer a ride</a></li>
                    <li><a href="myrides.html">My Rides</a></li>
                    <li><a href="history.html">History</a></li>
                </ul>
                <a href="profile.html" class="header-profile">Profile</a>
            </nav>
        </header>
        <main>            
            <section class="alloffers">
                <div class="wrapper">
                    <h2>All Available Offers</h2>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Date/Time</th>
                            <th>From</th>
                            <th>Destination</th>
                            <th>Number of Seats</th>
                            <th>Cost per Seat</th>
                            <th>Driver</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>01/01/2018, 07:00 AM</td>
                            <td>Langata</td>
                            <td>CBD</td>
                            <td>4</td>
                            <td>50</td>
                            <th>Driver</th>
                            <th><a href="available1.html" class="button">Request</a></th>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>02/28/2018, 10:00 AM</td>
                            <td>Nairobi</td>
                            <td>Eldoret</td>
                            <td>3</td>
                            <td>1000</td>
                            <th>Driver</th>
                            <th><a href="available1.html" class="button">Request</a></th>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>04/31/2018, 02:00 PM</td>
                            <td>Nakuru</td>
                            <td>Kisumu</td>
                            <td>2</td>
                            <td>400</td>
                            <th>Driver</th>
                            <th><a href="available1.html" class="button">Request</a></th>
                        </tr>
                    </table>                                        
                </div>                   
            </section>      
            </main>
            <div class="wrapper"></div>
                <footer>
                    <ul>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="available.html">Available Offers</a></li>
                        <li><a href="offer.html">Offer a ride</a></li>
                        <li><a href="history.html">History</a></li>
                        <li><a href="Logout.html">Logout</a></li>
                    </ul>
                    <h5>Copyright 2018 - Samwel Kanda</h5>
                </footer>
            </div>
    </body>
</html>