<html>    
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>Available Rides</title>
        {% else %}
        <title>Welcome to RideMyWay</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300, 300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="style.css">   
    </head>
    <body>
        <header>
            <a href=dashboard.html class="header-brand"> Ride My Way</a>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="offer.html">Create ride</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="myrides.html">Messages</a></li>
                    <li><a href="available.html">Requests</a></li>
                </ul>
                <a href="profile.html" class="header-profile">Profile</a>
            </nav>
        </header>
        <main>
            <hr>
            {% block content %}{% endblock %}
        </main>
        <div class="wrapper"></div>
                <footer>
                    <ul>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="available.html">Available Rides</a></li>
                        <li><a href="offer.html">Create a ride</a></li>
                        <li><a href="history.html">History</a></li>
                        <li><a href="Logout.html">Logout</a></li>
                    </ul>
                    <h5>Copyright 2018 - Samwel Kanda</h5>
                </footer>
            </div>
    </body>
</html>