<html>    
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - RideMyWay</title>
        {% else %}
        <title>Welcome to RideMyWay</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300, 300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
    </head>
    <body>
        <header>
            <a href="{{ url_for('dashboard') }}" class="header-brand"> Ride My Way</a>
            <nav>
                {% if current_user.is_anonymous %}
                <ul>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('all') }}">All rides</a></li>
                    <li><a href="{{ url_for('history') }}">History</a></li>
                    <li><a href="{{ url_for('messages') }}">Messages</a></li>
                    <li><a href="{{ url_for('requests') }}">Requests</a></li>
                </ul>
                <a href="{{ url_for('user', username=current_user.username) }}" class="header-profile">Profile</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
        <div class="wrapper"></div>
                <footer>
                {% if current_user.is_anonymous %}
                    <ul>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('login') }}">Sign In</a></li>
                        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('all') }}">All Rides</a></li>
                        <li><a href="{{ url_for('create') }}">Create a ride</a></li>
                        <li><a href="{{ url_for('history') }}">History</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                {% endif %}
                    <h5>Copyright 2018 - Samwel Kanda</h5>
                </footer>
            </div>
    </body>
</html>