<!DOCTYPE html>
<html>    
    <head>
        <meta charset="UTF-8">
        <title>Offer 1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300, 300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="style.css">   
    </head>
    <body>
        <header>
            <a href=index.html class="header-brand"> Ride My Way</a>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="available.html">Available Offers</a></li>
                    <li><a href="offer.html">Offer a ride</a></li>
                    <li><a href="myrides.html">My Rides</a></li>
                    <li><a href="history.html">History</a></li>
                </ul>
                <a href="profile.html" class="header-profile">Profile</a>
            </nav>
        </header>
        <main>
            <section class="myoffer-">
                <div class="wrapper">
                <h1>Create a New Ride</h1>
                    <form action="myrides.html">
                        <p>Date</p>
                        <input type="datetime-local" name="" required="">
                        <p>From</p>
                        <input type="text" name="" required="">
                        <p>To</p>
                        <input type="text" name="" required="">
                        <p>Number of seats</p>
                        <select id="seats">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <p>Cost Per Seat</p>
                        <input type="number" name="" required="">
                        <p>Description</p>
                        <textarea rows="5" cols="50"></textarea>
                        <input type="submit" name="" value="Create Ride">
                    </form>        
                </div>
            </section>
            </main>
            <div class="wrapper"></div>
                <footer>
                    <ul>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li><a href="available.html">Available Offers</a></li>
                        <li><a href="offer.html">Offer a ride</a></li>
                        <li><a href="history.html">History</a></li>
                        <li><a href="Logout.html">Logout</a></li>
                    </ul>
                    <h5>Copyright 2018 - Samwel Kanda</h5>
                </footer>
            </div>
    </body>
</html>