<!DOCTYPE html>
<html>    
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
        href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300, 300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="sign_up_style.css">   
    </head>
    <body>
        <header>
            <a href=index.html class="header-brand"> Ride My Way</a>
            <nav>
                <ul>
                    <li><a href="about.html">About</a></li>
                </ul>
                <a href="sign_in.html" class="header-access">Sign In</a>
            </nav>
        </header>
        <div class="loginbox">
        <img src="avatar.png" class="avatar">
            <h1>Sign Up Here</h1>
            <form action="dashboard.html">
                <p>Name</p>
                <input type="text" name="" required="" placeholder="Enter your names">
                <p>Email</p>
                <input type="text" name="" required="" placeholder="Enter your email">
                <p>Password</p>
                <input type="password" name="" required="" placeholder="Enter Password">
                <input type="password" name="" required ="" placeholder="Repeat Password">
                <input type="submit" name="" value="Sign Up">
                <a href="sign_in.html">Already have an account? Sign In!</a>
            </form>            
        </div>
</body>
</head>
</html>